/* Write your CSS here */
.con {
  background-image: linear-gradient(#fbc7d4, #9796f0);
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: roboto;
  margin: 40px;
}
.card {
  border-radius: 10px;
  background-color: white;
  color: black;
  display: flex;
  padding: 40px;
  width: 1200px;
  flex-direction: column;
}
label {
  margin-top: 15px;
  font-size: 15px;
}
.app-img {
  padding: 20px;
  width: 500px;
  margin-left: 50px;
}
.appointments-con {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}
.appointments {
  font-size: 25px;
}
.app-con {
  display: flex;
  flex-direction: column;
}

.app-star {
  padding: 5px;
  width: 110px;
  text-align: center;
  color: #8b5cf6;
  border: 1px solid #b5b7c4;
  border-radius: 15px;
  cursor: pointer;
  outline: none;
}
.special {
  background-color: #8b5cf6;
  color: white;
}
.app-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
hr {
  width: 100%;
  border: 1px solid #b5b7c4;
  margin-top: 10px;
}
.button {
  height: 30px;
  width: 110px;
  background-color: #8b5cf6;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  margin-top: 20px;
  border: 0px;
}
input {
  width: 400px;
  height: 30px;
  padding: 10px;
  border-radius: 5px;
}
.up-card {
  display: flex;
  justify-content: space-between;
}
.form-con {
  display: flex;
  flex-direction: column;
  color: #b5b7c4;
}
.left {
  margin-top: 80px;

  display: flex;
  flex-direction: column;
}
